body{
  background-color:#f9f8eb;
  font-family: 'Alex Brush', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Mate', serif;
text-align: center;
margin: 0;
}
.footer-link{
  text-decoration: none;
color: #eaeaea;
margin: 10px 20px;
}
.About{
  font-family: 'Mate', serif;
font-size: 20px;
color: #1a3263;

position: absolute;
right: 60px;
top: 0;
}
.ss{
  font-family: 'Mate', serif;
font-size: 20px;
color: #1a3263;
position: absolute;
right: 150px;
top: 0;
margin-right: 20px;
}
.home{
  font-family: 'Mate', serif;
font-size: 20px;
color: #1a3263;
position: absolute;
left: 60px;
top: 0;
}
.text-india{
  width: 80%;
margin: 120px auto 0;
line-height: 2;
font-size: 20px;
font-family: 'Open Sans', sans-serif;
color: #1a3263;
}
.title{
  background-color: #ff2e63;
    height: 360px;
    margin:60px 0 60px 0;

}
.india{
  font-size: 150px;
  font-family: 'Alex Brush', cursive;
  color: #eaeaea;
  position: relative;
  top: 80px;
  left: 70px;
}
.subtext{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #eaeaea;
  position: relative;
  top: 150px;
  right: 170px;
}
.menu{
  background-color: #ff2e63;
  margin: 150px 0;
}
.img-space{
  padding: 30px 80px;
}
.menu-text{
  position: relative;
  bottom: 10px;
  color: #eaeaea;
  text-decoration: none;
}
.img-space:hover{
  opacity: 0.8;
   filter: alpha(opacity=100);
}
.menu-text:hover{
  background-color: #eaeaea;
  color:  #ff2e63;
}
.feedback{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1a3263;
  margin: 0 auto  50px;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Mate', serif;
  color: #eaeaea;
  font-size: 20px;
  background: #ff2e63;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background-color: #eaeaea;
  color:  #ff2e63;
}
.bottom-container{
  background-color: #ff2e63;
  padding: 40px 0 20px;
  margin: 150px 0 0;

}
.copyright{
  font-size: 0.75rem;
  color: #eaeaea;
  padding: 20px;
}
